body {
    margin: 0;
    padding: 0;
}

a {
    display: inline;
    margin: auto;
    list-style: none;
    padding: auto;
    text-align: center;
    width: 20%;
    border: none;
    text-decoration: none;
}
a:hover {
    background-color:rgba(0, 0, 0, 0.2);
}
.title {
    font-size: 100px;
    margin: auto;
    text-align: center;
    font-family: 'Lobster';
    color: #72d345;
    text-shadow: black 0px 0px 10px;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    top: 0;
    background-color: white;
    margin: auto;
    background-image: url(https://lh3.googleusercontent.com/iPDgzOMemI50QL0JE-B2jix_u28rcLJtRD1pgx9-kCzebGD7MTEl8vm_PDHZFUtV1pnu8--kxfc3mw-oFZbFxNc=w16383);
    background-position: center;
    background-size: 100%;
}

#header::after {
    background: rgba(0, 0, 0, 0.1);
}

#menu {
    display: grid;
    grid-template-columns: 20% repeat(5);
    grid-template-rows: 100%;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    background-color: greenyellow;
    display: flex;
}

#main {
    height: 120vh;
    background-color: green;
    margin-top: auto;
    font-family: 'Lobster';
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: top;    
}
.booking-title {
    font-size: 50px;
    margin-top: 0;
}
.inputs {
    margin: auto;
    display: inline-block;
    text-align: left;
}
#footer{
    display: flex;
    flex-direction:row;
    height: 20vh;
    background-color: rgb(230, 15, 15);
    border-top: 1px solid black;
}
#leftFooter{
    width: 50%;
    border-right: 1px solid black;
}
#rightFooter{
    width: 50%;
}

.clearfix {
    overflow: hidden;
}