body {
    margin: auto;
    padding: auto;
}

a {
    list-style: none;
    padding-top: 4px;
    text-align: center;
    align-items: center;
    display: block;
    width: 20%;
    height: 90%;
    border: none;
    text-decoration: none;
    font-size: 18px;
}
a:hover {
    background-color:rgba(0, 0, 0, 0.2);
}
.title {
    font-size: 100px;
    margin: auto;
    font-family: 'Lobster';
    color: rgb(224, 184, 184);
    text-shadow: black 0px 0px 10px;
}
#header {
    display: flex;
    height: 80vh;
    top: 0;
    background-color: white;
    margin: auto;
    background-image: url(https://wallpaperaccess.com/full/3014609.jpg);
    background-image: url("../images/sushiplaceholder.jpg");
    background-position: center;
    background-size: 100%;
}



#header::after {
    background: rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    justify-content: center;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    background-color: rgb(160, 148, 115);
    height: 30px;
}

#main { 
    background-image: url("../images/svartbord.jpg");
    align-self: center;
    align-items: center;
    height: 120vh;
    margin-top: auto;
    font-family: 'Lobster';
    display: flex;  
}

#oxfile {
    margin-top: 200px;
    padding-left: 30px;
    background-image: url("../images/oxfileplaceholder.png");
    width: 800px;
    height: 550px;
}

#formdiv {
    height: 500px;
    width: 500px;
    margin: auto;
    padding-left: 10px;
    margin-top: 50px;
    font-family: 'Antonio';
}
input {
    width: 200px;
    height: 20px;
}
label {
    color: wheat;
    font-size: 24px;
}
.booking-title {
    align-self: center;
    color: wheat;
    font-size: 50px;
    margin-left: 165px;
}
#bookingForm {
    align-self: center;
    align-items: center;
    align-content: center;
    display: grid;
    width: 500px;
    grid-template-columns: 250px 250px;
    grid-template-rows: repeat(5, 80px);
    padding-left: 18px;
}
#firstnamediv {
    grid-column: 1;
    grid-row: 1;
}
#lastnamediv {
    grid-column: 2;
    grid-row: 1;
}
#phonenumberdiv {
    grid-column: 1;
    grid-row: 2;
}
#amountpeoplediv {
    grid-column: 2;
    grid-row: 2;
}
#datediv {
    grid-column: 1;
    grid-row: 3;
}
#time {
    height: 24px;
}
#timediv {
    grid-column: 2;
    grid-row: 3;
}
#bokadiv {
    grid-column: 1;
    grid-row: 4;
    margin-left: 130px;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    background-color: blue;
}
input[type=submit] {
    height: 50px;
    font-size: 20px;
    font-family: 'Antonio';
}
#footer{
    display: flex;
    flex-direction:row;
    height: 20vh;
    background-color: rgb(153, 143, 143);
    border-top: 1px solid black;
}
#leftFooter{
    width: 50%;
    border-right: 1px solid black;
}
#rightFooter{
    width: 50%;
}

@media screen and (max-width: 900px) {
    .title {
        font-size: 40px;
        margin-left: 12px;
        padding: auto;
        margin: auto;
    }
    #header {
        background-size: 220%;
        
    }
    .menu {
        height: 32px;
    }
    #main {
        height: 140vh;
    }
    #oxfile {
        background-size: 80%;
        background-repeat: no-repeat;
    }

@media screen and (max-width: 700px) {
    #formdiv {
        align-self: center;
        height: 500px;
        width: 100%;
        margin-top: 50px;
        font-family: 'Antonio';
    }
    .booking-title {
        align-self: center;
        color: wheat;
        font-size: 50px;
        margin: auto;
        margin-left: 30%;
        padding-left: 25px;
        width: 180px;
    }
    #bookingForm {
        align-self: center;
        display: grid;
        width: 100%;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: repeat(7, 80px);
    }
    #firstnamediv {
        grid-column: 2;
        grid-row: 1;
    }
    #lastnamediv {
        grid-column: 2;
        grid-row: 2;
    }
    #phonenumberdiv {
        grid-column: 2;
        grid-row: 3;
    }
    #amountpeoplediv {
        grid-column: 2;
        grid-row: 4;
    }
    #datediv {
        grid-column: 2;
        grid-row: 5;
    }
    #time {
        height: 24px;
    }
    #timediv {
        grid-column: 2;
        grid-row: 6;
    }
    #bokadiv {
        grid-column: 2;
        grid-row: 7;
        margin-left: 5px;
        margin-top: 50px;
        width: 50%px;
        height: 50px;
    }
}

.clearfix {
    overflow: hidden;
}